.fa-remove:before,
.fa-close:before,
.fa-times:before {
 color:#f0f2f400
}
.fa-save:before.fa-remove:before,
.fa-close:before,
.fa-times:before {
 display:none
}
a.btn.minix.fa.fa-times.fr {
 color:#fff!important;
 border-radius:4px;
 padding:1px 4px 2px 5px;
 margin-top:6px;
 background-repeat:repeat-x;
 border-color:#fff!important;
 background-image:linear-gradient(to bottom,#f8f9fa 0,#dee2e6 100%)!important;
 margin-left:1px;
 width:13px;
 margin-right:2px
}
span.minix.badge.border,
span.bwall.minix.badge.border,
span.brooms.minix.badge.border {
 display:none!important
}
span.busers.minix.badge.border {
 display:inline!important
}
span.bwall.minix.badge.border,
span.brooms.minix.badge.border {
 display:none!important
}
ul.nav.nav-tabs.fl li a:hover {
 background-color:#43a2a1;
 color:#fff
}
ul.nav.nav-tabs.fl li .fa-user-plus:before {
 color:red;
 -webkit-animation:mymove .5s infinite;
 animation:mymove .5s infinite
}
@-webkit-keyframes mymove {
 from {
  color:red
 }
 to {
  color:#fff
 }
}
@keyframes mymove {
 from {
  color:red
 }
 to {
  color:#fff
 }
}
a#فهد-الشمري {
 color:#fff!important;
 position:absolute;
 right:1px
}
.fl.fa.fa-sign-in.btn.btn-primary.dots.roomh.border.corner {
 background-color:#039be5!important;
 padding:1px 4px!important;
 pointer-events:none
}
label.asim.ae.fa.label.label-primary {
 padding:7px 10px 5px;
 margin-left:-4px!important;
 border-radius:0 4px 9px 0
}
.ae.label.label-primary.fa.fa-gear {
 padding:7px 5px 5px 13px;
 border-radius:0;
 margin-left:-3px!important
}
.ae.fa.label.fa-commenting-o.label-primary {
 padding:7px 5px 5px 13px;
 margin-left:-4px!important;
 border-radius:0
}
.ae.fa.label.label-primary.fa-users {
 padding:7px 5px 5px 13px;
 border-radius:0;
 margin-left:-3px!important
}
.ae.fa.chats.label.fa-comment.label-primary {
 padding:7px 13px 5px;
 margin-left:-7px!important;
 border-radius:0
}
.ae.fa.label.label-primary.fa-user {
 padding:7px 12px 5px 9px;
 border-radius:4px 0 0 9px
}
.ae.fa.label.fa-commenting-o.label-warning {
 padding:7px 0 5px 9px;
 margin-left:-4px!important;
 border-radius:0
}
.ae.fa.chats.label.fa-comment.label-warning {
 padding:7px 13px 5px;
 margin-left:-7px!important;
 border-radius:0
}
.bgg.border.corner {
 border-bottom-right-radius:0!important
}
label.fl.nosel.label.pnhead {
 background-color:#008e91
}
iframe#asim30 {
 height:76px;
 float:left;
 border-bottom:3px solid #e5032f;
 background-color:#fff;
 margin-top:-6px;
 background-image:url(https://blog.iraqna.net/embed/11.svg);
 background-size:contain
}
font.asim11 {
 background-color:#f0ad4e;
 padding:0 0 1px;
 color:#fff;
 border-radius:15px 6px 15px 6px;
 border:1px dotted#ffffff;
 font-size:15px!important;
 text-align:center;
 border-style:solid;
 border-right:7px solid;
 border-left:7px solid;
 border-color:#fcf8e3;
 border-left-style:double;
 border-right-style:double
}
font.asim12 {
 border:1px dotted#f0ad4e;
 background-color:#00c7cc;
 padding:6px;
 color:#fff;
 border-radius:12px;
 text-align:center;
 border-style:solid;
 border-right:7px solid;
 border-left:7px solid;
 border-color:#fcf8e3;
 border-left-style:double;
 border-right-style:double
}
div#asim1 {
 text-align:center;
 border-radius:0 0 7px 7px;
 width:100%;
 position:relative;
 top:-142px;
 right:0
}
a#asim2 {
 font-size:14px!important;
 width:25%!important;
 border:1px solid #f0ad4e;
 margin-right:5px;
 float:right;
 margin-top:-2px;
 padding:1px!important;
 height:24px!important;
 color:#fff!important;
 background-color:#43a2a1!important;
 margin-left:-8px
}
a#asim10 {
 font-size:14px!important;
 width:25%!important;
 border:1px solid #f0ad4e;
 margin-right:5px;
 float:right;
 margin-top:-3px;
 padding:1px!important;
 height:23px!important;
 color:#fff!important;
 background-color:#43a2a1!important;
 margin-left:-8px
}
.badge {
 display:inline!important;
 background-color:#7770;
 border-radius:33%;
 border:#1f95a208 solid 1px!important;
 margin-left:-5px;
 vertical-align:top
}
div#menu-l {
 height:55px;
 width:307px;
 float:left;
 position:absolute;
 top:-11px;
 right:-7px
}
.ae {
 border:1px solid #afabab
}
.primaryborder {
 border-color:#008e91!important;
 border-radius:0!important
}
button.fa.fa-sign-out.fl.btn.btn-primary {
 margin-top:0!important
}
button.fa.fa-send.fl.btn.btn-primary {
 margin-top:0!important
}
button.fa.fa-send.sndpm.fl.btn.btn-primary {
 margin-top:0!important
}
.btn-primary:hover {
 border-left:1px solid #5290ac;
 border-top:1px solid #5290ac;
 border-right:1px solid #376b87;
 border-bottom:1px solid #376b87
}
.tbox {
 padding:3px;
 border-top:1px solid #ccc;
 border-bottom:1px solid #ccc;
 border-left:3px solid #aee3d1;
 border-right:3px solid #aee3d1;
 min-height:28px!important
}
.fr.rating-box {
 display:none
}
.fa-user-times {
 margin:0!important;
 background-color:#fff;
 top:58px!important;
 transform:rotate(-90deg);
 width:123px!important;
 position:absolute;
 left:-41px
}
.btn.hand.borderg.corner {
 width:32px;
 height:33px
}
.ukick {
 margin:0!important;
 width:60px!important;
 background-color:#fff!important;
 margin-top:14px!important;
 margin-left:-60px!important;
 position:absolute;
 top:1px
}

.uban {
 margin:0!important;
 width:60px!important;
 background-color:#fff;
 margin-top:73px!important;
 margin-left:-61px!important;
 position:absolute;
 top:1px
}
.fitimg,
.uzr.fl.corner.borderg.mm,
.u-ico,
.fl.u-msg,
.uzr.fl.corner.borderg.mm {
 -webkit-user-select:none;
 -moz-user-select:none;
 -ms-user-select:none;
 user-select:none
}
.emoi {
 width:auto;
 max-width:-webkit-fill-available
}
.uzr.fl.corner.borderg.hmsg.mm {
 background-color:#f0fffb!important
}
.bgg.border.corner {
 right:1px
}
img.fl.emobc {
 margin-top:-3px!important
}
.callnot {
 position:absolute!important;
 top:1px!important;
 margin-left:0!important;
 left:1px
}
.popover.right {
 max-width:initial;
 overflow:auto;
 width:auto;
 margin-left:-109px;
 height:369px
}
.popover.fade.top.in {
 position:absolute;
 max-width:250px!important;
 max-height:200px;
 overflow:auto
}
button.fa.fa-phone.call.fl.btn.btn-success {
 margin-top:2px!important
}
.tablebox.footer.light.fl {
 border-top:1px solid #aee3d1
}
img.fl.nosel.emobox {
 margin-top:-4px
}
img.fl.nosel.emo {
 margin-top:-1px
}
.ae,
button.btn {
 border-radius:3px;
 border:#e8e8e8 solid 1px
}
a.fl.emobc:focus,
i.fa.fa-smile-o:focus,
.primaryborder:focus,
.btn.btn-success:focus,
.btn.btn-primary:focus,
.dots:focus,
.bg:focus,
textarea.fl.filw.corner.tbox:focus,
area:focus,
input#pass1:focus,
input#u1:focus,
input#u3:focus,
input#pass2:focus,
input#u2:focus {
 outline:0;
 border-color:none;
 outline:0;
 -webkit-box-shadow:none;
 box-shadow:none
}
div#asim30 {
 background-image:linear-gradient(to bottom,#f1f3f4 0,#f1f3f4 100%);
 text-align:center;
 color:#118284;
 margin:-27px 0 -20px
}
div#asim31 {
 width:100%;
 background-color:#13b6b9!important;
 border-radius:3px;
 border-left:1px solid #5290ac;
 border-top:1px solid #5290ac;
 border-right:1px solid #376b87;
 border-bottom:1px solid #376b87;
 margin:1px 0 3px;
 height:27px;
 padding:0
}
div#tlogins img.fitimg.fl.u-pic,
.u-ico,
img#asim70 {
 pointer-events:none
}
a#as0 {
 text-decoration:none;
 margin-right:6px;
 float:right;
 border-radius:3px;
 border-color:#e6e6fa;
 padding:6px;
 margin-top:2px;
 color:red;
 width:106px;
 text-align:center;
 font:normal normal normal 14px/1 FontAwesome
}
iframe#asim29 {
 height:59px;
 position:absolute;
 top:32px;
 right:-215px
}
a#asim33 {
 width:100px;
 background-color:#13b6b9!important;
 border-radius:3px;
 border-left:1px solid #5290ac;
 border-top:1px solid #5290ac;
 border-right:1px solid #376b87;
 border-bottom:1px solid #376b87;
 margin:0 0 2px;
 text-align:center;
 color:#fff;
 height:27px;
 padding:1px;
 font-size:14px!important
}
input[type=asim] {
 width:182px;
 margin-left:1px;
 border-radius:3px;
 text-align:center
}
button.btn.btn-primary.hand.borderg.corner.fa.fa-ban {
 width:77px;
 border-radius:6px;
 height:27px;
 background-repeat:repeat-x;
 border-color:#b92c28;
 background-image:linear-gradient(to bottom,#d9534f 0,#c12e2a 100%);
 background-color:#c12e2a!important
}
.fa-user:before {
 margin-right:4px
}
a.btn.minix.fa.fa-comment.fr {
 color:#fff!important;
 border-radius:4px;
 padding:1px 4px 2px 5px;
 margin-top:6px;
 background-repeat:repeat-x;
 border-color:#28a4c9;
 background-image:linear-gradient(to bottom,#5bc0de 0,#2aabd2 100%)
}
a.btn.minix.fa.fa-thumbs-up.fr {
 color:#fff!important;
 border-radius:4px;
 padding:1px 4px 2px 5px;
 margin-top:6px;
 background-repeat:repeat-x;
 border-color:#b92c28;
 background-image:linear-gradient(to bottom,#d9534f 0,#c12e2a 100%);
 margin-left:3px
}
a.btn.minix.fa.fa-times.fr,
a.btn.minix.fa.fa-thumbs-up.fr,
a.btn.minix.fa.fa-comment.fr {
 border-left:1px solid #d3d3d3;
 border-top:1px solid #d3d3d3;
 border-right:1px solid #a6a6a6;
 border-bottom:1px solid #a6a6a6;
 border-radius:3px
}
.fa-save:before,
.fa-floppy-o:before {
 margin-right:1px;
 margin-right:1px
}
.fa-save {
 border-radius:3px!important;
 height:28px!important;
 width:12%!important;
 padding:7px 2px!important;
 font-size:12px!important;
 background-image:linear-gradient(to bottom,#d9534f 0,#c12e2a 100%);
 background-color:#d9534f!important;
 color:#fff
}
textarea.form-control {
 border-radius:3px!important;
 height:28px!important;
 width:72%!important;
 padding:4px 0!important;
 font-size:13px!important
}
div#tlogins.light {
 height:auto!important
}
body.bg.center-block.bg.dad div#tlogins {
 height:auto!important
}
a.label.label-primary.fl {
 display:none
}
#asim13 {
 margin-bottom:0;
 border-radius:7px;
 border-bottom:1px solid #fe75bc;
 border-top:1px solid #fe75bc;
 font-size:15px!important;
 padding:0!important;
 position:absolute!important;
 width:80%;
 height:25px;
 left:74px;
 background:#ffe8f400;
 top:148px
}
label.label.fr.label-primary {
 border-radius:3px!important;
 height:28px!important;
 width:14%!important;
 padding:9px 0!important;
 font-size:13px!important
}
#asim21 {
 text-decoration:dotted;
 color:#fff;
 margin-top:1.7px!important;
 margin-left:2px!important;
 display:inline-block;
 float:right;
 margin-right:1.5px!important;
 box-shadow:0 2px 2px 0 rgba(0,0,0,.14),0 1px 5px 0 rgba(0,0,0,.12),0 -3px 1px -2px rgba(0,0,0,.2)!important;
 border-radius:7px 14px 7px 14px!important;
 border:#4cff7000
}
select.primaryborder.form-control.userRoom.selbox.fr.form-control {
 border-radius:3px!important;
 height:28px!important;
 width:72%!important;
 padding:4px 0!important;
 font-size:13px!important
}
div#tlogins .fa-user:before {
 margin-right:-32px;
 margin-left:-6px
}
label.fl.label.loginstat {
 float:left!important;
 border-radius:0 7px 7px 0!important;
 position:absolute;
 top:1px;
 left:0;
 padding:3px 6px 2px 8px!important;
 margin-top:6px!important;
 font-size:14px!important;
 margin-left:-4px!important
}
img.fl.fitimg.hand.u-pic {
 border-radius:5px!important;
 margin-top:4px!important;
 margin-right:4px!important;
 padding:18px;
 border:1px solid#f3f3f3;
 background-size:cover
}
.border {
 border:#e8e8e8 solid 1px
}
.u-ico {
 margin-top:5px!important
}
span.corner.u-topic.dots {
 margin-top:3px!important
}
#as43 {
 width:71%;
 height:20px;
 color:#fff;
 border-left:2px solid#8aeaec;
 border-radius:0;
 background-color:#b73560;
 margin:0 0 0 111px;
 position:absolute;
 border-right:1px solid #f7d322
}
.uzr.fl.corner.borderg.mm {
 border-left:2px solid #56a2ab;
 margin-left:0!important;
 border-radius:0!important;
 width:100%!important;
 border-top:.7px solid #eee!important;
 border-bottom:.7px solid #eee!important;
 margin-bottom:0!important;
 line-height:26px
}
label.label.label-primary.mini.fl {
 pointer-events:none;
 width:32%!important;
 height:20px;
 color:#fff;
 border:none!important;
 font-size:13px!important;
 margin:0;
 position:absolute;
 border-left:2px solid #f7d322!important;
 padding:2px 19px 0 0
}
.lonline.light.break {
 outline:#f7d322 solid 1px!important;
 background-color:#ffffff3b !important;
 background-image:-webkit-linear-gradient(45deg,rgba(255,255,255,.2) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.2) 50%,rgba(255,255,255,.2) 75%,transparent 75%,transparent)!important
}
div#tlogins {
 border-color:#26767f;
 outline:0;
 box-shadow:inset 0 2px 2px rgba(0,0,0,.075),0 0 8px #777;
 border:.1px solid#b0b2b370;
 background:#fff
}
div#tlogins .hand.nosel.fl.uzr.border {
 width:99%!important;
 margin-top:5px!important;
 border-radius:3px!important;
 border:1px solid #287c8661
}
body {
 background-image:url(https://blog.iraqna.net/embed/11.svg);
 background-size:contain;
 background-color:#f9f9f9!important
}
div#tlogins .fr.borderg {
 display:none
}
span.s1.fa.fa-user.label.badgex.label-as-badge.label-success {
 font-size:12px!important;
 background-color:#d01b1b00;
 color:#fff;
 margin:0 0 0 23px
}
div#tlogins::-webkit-scrollbar {
 width:5px;
 height:10px
}
div#tlogins::-webkit-scrollbar-button {
 width:5px;
 height:5px
}
div#tlogins::-webkit-scrollbar-thumb {
 background:#287c86;
 border:71px #fff;
 border-radius:31px;
 background-image:-webkit-linear-gradient(45deg,rgba(255,255,255,.2) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.2) 50%,rgba(255,255,255,.2) 75%,transparent 75%,transparent)!important
}
div#tlogins::-webkit-scrollbar-thumb:hover {
 background:#287c86
}
div#tlogins::-webkit-scrollbar-thumb:active {
 background:#287c86
}
div#tlogins::-webkit-scrollbar-track {
 background:#fff;
 border:65px #fff;
 border-radius:34px
}
div#tlogins::-webkit-scrollbar-track:hover {
 background:#fff
}
div#tlogins::-webkit-scrollbar-track:active {
 background:#fff
}
div#tlogins img.fitimg.fl.u-pic {
 background-size:cover;
 border-radius:3px!important;
 padding:18px;
 border:1px solid#e8e8e8;
 margin-top:-1px!important
}
div#tlogins::-webkit-scrollbar-corner {
 background:0 0
}
div#tlogins .fl.mini.u-msg {
 padding:7px;
 text-align:center
}
a#asim27 {
 text-decoration:none;
 font-size:8px!important;
 color:#c8426c !important;
 background:#fff0 !important;
 height:12px;
 margin:0 0 0 280px;
 line-height:9px;
 position:relative;
 top:-24px;
}
div#tlogins .fade {
 opacity:1!important;
 -webkit-transition:none!important;
 -o-transition:none!important;
 transition:none!important;
 border-left:1px solid #f7d322;
 border-right:1px solid #f7d322
}
button.btn.btn-default {
 color:#fff!important;
 border-radius:15px;
 padding:0 5px;
 margin-top:6px;
 background-image:linear-gradient(to bottom,#5cb85c 0,#419641 100%)!important;
 border:#ccc solid 1px!important
}
textarea.as2020 {
 width:100%;
 resize:none;
 height:180px
}
div#chats {
 background-image:url(https://i.top4top.io/p_16252vqr71.gif);
 background-size:contain;
 background-repeat:no-repeat;
 background-position:50% 50%
}
.nav-tabs {
 border-bottom:1px solid #f0ad4e
}
ul.nav.nav-tabs>li>a {
 margin:0;
 color:#fff;
 border:0;
 text-align:center;
 background-color:#e25e8d;
 border-radius:3px;
 display:initial;
 width:100px;
 float:left;
 background-image:linear-gradient(90deg,#ea6f9d 0,#b73560 10%,#ea749d 51%,#b73560 89%,#b73560 100%);
 padding:0!important;
 text-align:center;
 border-style:solid;
 border-right:7px solid;
 border-left:7px solid;
 border-color:#fff;
 border-left-style:double;
 border-right-style:double
}

ul.nav.nav-tabs>li.active>a {
 color:#fff;
 background-color:#43a2a1;
 border:0;
 border-radius:3px;
 text-align:center;
 border-style:solid;
 border-right:7px solid;
 border-left:7px solid;
 border-color:#fff;
 border-left-style:double;
 border-right-style:double
}
ul.nav.nav-tabs>li {
 width:32%;
 margin:0 1px 0 2px
}
ul.nav.nav-tabs>li>.fa-user-plus:before,
ul.nav.nav-tabs>li>.fa-user:before,
ul.nav.nav-tabs>li>.fa-user:before {
 float:right;
 margin-right:-38%;
 border:1px solid;
 padding:0 3px 1px;
 border-radius:3px;
 width:23px;
 text-align:center;
 background-color:#fff;
 color:#c2355e;
}
.nav>li>a:focus,
.nav>li>a:hover {
 color:#9abff9
}
input#u1,
input#u2,
input#pass1,
input#u3,
input#pass2 {
 margin:0 0 3px 48.5px!important;
 width:61%;
 height:31px;
 border:1px solid #c13d67;
 border-radius:3px;
 text-align:center;
 border-style:solid;
 border-right:7px solid;
 border-left:7px solid;
 border-color:#bd355f;
 border-left-style:double;
 border-right-style:double
}
.checkbox {
 position:absolute;
 margin:-29px 0 0 -33px!important
}
label.ae.fa.label.fa-users.btnClAlGr.label-warning {
 margin-left:-3px!important
}
label.ae.fa.label.fa-users.btnClAlGr.label-warning,
label.ae.fa.label.fa-users.btnClAlGr.label-primary {
 padding:7px 5px 5px 13px
}
.fa-user-times:before {
 display:none
}
label.addGruMsg.label.tc.border.btn.label-info.fl {
 background-image:linear-gradient(to bottom,#5cb85c 0,#419641 100%);
 color:#fff!important
}
ul.nav.nav-tabs {
 background-color:#e2e2e2!important;
 float:right;
 padding:4px 1px;
 border-radius:0;
 margin-top:1px;
 border-left:1px solid #f7d322;
 border-right:1px solid #f7d322;
}
div#l1 {
 height:84px
}
a#asim7 {
 font-size:14px!important;
 width:54px !important;
 border:1px solid #f7d322;
 margin-right:0;
 float:right;
 padding:5px 0 0 20px;
 height:25px !important;
 color:#fff!important;
 margin-left:-6px;
 background-image:linear-gradient(90deg,#b73560 0,#b73460 10%,#d3365b 51%,#b73560 89%,#e55a82 100%);
 border-radius:0;
 background-repeat:repeat;
 border-bottom:1px solid#e1e1e1
}
